.img{
    background-color: #00000029;
    border-radius: 50%;
    padding: 1rem;
    width: 90px;
    height: 90px;
   margin-left:180px ;
  }
  .modal-body{
    text-align: center;
  }
  .button{
    border-radius: 25px;
    border-color: #F37221;
    padding-left:96px;
    padding-right:96px;
    padding-top:4px ;
    padding-bottom: 4px;
  }
  .buttons1{
    background-color:#F37221;
    color:white;
    border-radius: 25px;
    border-color: white;
    padding-left :70px;
    padding-right:70px;
    padding-top:4px ;
    padding-bottom: 4px;
  }